body{
    display:flex;
    justify-content: center;
    background-color: blue;
    font-weight: bolder;
    font-size: 34px;
}

.header{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(2, 25vw)
}