body{
    background-color: blue;
    font-weight: bolder;
    font-family: Verdana;
}

.header{
    display: flex;
    justify-content: center;
}

.body{
    display: flex;
    justify-content: center;
    width: 100%;
}

#container{
    display: grid;
    grid-template-columns: repeat(2, 20vw)
}